@{
    ViewData["Title"] = "About";
}

<div class="darkbanner">
    <h3 id="PageTitle">About Booking App</h3>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>

    <p>This is a sample application based on a Booking System.</p>
    <p>Architecture concepts: Microservices, CQRS, Event Sourcing ...</p>
    <p>
        Features include:
        <ul>
            <li>Customer Management</li>
            <li>Catalog Service (Asset, Booking)</li>
            <li>Notifications for customers</li>
        </ul>
    </p>
</div>