@{
    ViewData["Title"] = "Home Page";
}

<div class="darkbanner">
    <h3 id="PageTitle">Booking app - Booking System</h3>
    <p>Version: @System.Reflection.Assembly.GetEntryAssembly().GetName().Version</p>
</div>
