@model BookingApp.WebApp.ViewModels.CatalogManagementOfflineViewModel
@{
    ViewData["Title"] = "Offline";
}
<h3 id="PageTitle">Сatalog Management (Asset) - offline</h3>
<p>Unfortunately, the catalog service is not working at the moment. Please try again later.</p>

