@model BookingApp.WebApp.ViewModels.BookingCatalogNewViewModel
@{
    ViewData["Title"] = "Register Booking";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h3 id="PageTitle">Catalog Service - register booking</h3>

<form asp-controller="BookingCatalogManagement" asp-action="Register" method="post">
    <div class="form-group">
        <label asp-for="Booking.AssetId"></label>
        <select asp-for="SelectedAssetId" asp-items="Model.Assets" class="form-control"></select>
        <span asp-validation-for="SelectedAssetId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.CustomerId"></label>
        <select asp-for="SelectedCustomerId" asp-items="Model.Customers" class="form-control"></select>
        <span asp-validation-for="SelectedCustomerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.StartTime"></label>
        <input asp-for="Booking.StartTime" type="text" class="form-control" />
        <span asp-validation-for="Booking.StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Booking.EndTime"></label>
        <input asp-for="Booking.EndTime" type="text" class="form-control" />
        <span asp-validation-for="Booking.EndTime" class="text-danger"></span>
    </div>
    <span><button id="SubmitButton" type="submit" class="btn btn-default">Register</button></span>
    <span><a id="CancelButton" asp-action="Index" asp-controller="BookingCatalogManagement" class="btn btn-default">Cancel</a></span>
</form>


